


.biglietti-form.sticky{
    margin-top: 117px;
}
.biglietti-form{
    border: 1px solid azure;
    border-radius: 5px; 

    height: 879px;
    width: 600px;

    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 30px 30px 0px 30px;
    background-color: #00002b;
}

.mb-3{
    padding-bottom: 10px;
    padding-top: 10px;
}
.form-label{

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none; 
 
    color: azure; 
    align-items: center;

}
.testo-titolo{
    font-size: 30px;
}
.testo-biglietti{
    font-size: 13px;
    margin-top: 30px;
    font-weight: 400;
}
.form-control{
    border: 2px solid #000;
    max-width: 250px;
}
.testo-errore{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;

    padding: 5px;   
    background-color: rgb(255, 0, 0); 
    color: rgb(0, 0, 0); 
    border-radius: 2px; 
    text-align: center;

    border: 3px solid rgb(255, 255, 0);

}

.disponibilita{
    display: flex;
}
.posti{
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: azure;
}

.prenota-biglietti{
    position: absolute;
    top: 1080px;
}
.biglietti-bottone{
    display: flex;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none; 

    padding: 10px 15px;   
    color: azure; 
    background-color: #000041;;

    border: 1px solid azure;

    border-radius: 2px; 
    align-items: center;

    list-style: none; 
    text-decoration: none; 

    transition: all 0.5s ease;
}
.biglietti-bottone:hover{

    background-color: rgb(255, 255, 0);
    color: black;      
    transition: all 0.5s ease;
}
.prezzi-totale{
    margin: auto;
}
.prenota-biglietti-testo{

    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none; 

    margin-top: 10px;
    margin-left: 2px;
    
    color: azure; 
    align-items: center;
 
}





@media only screen and (max-width: 1100px){
    .biglietti-form.sticky{
        margin-top: 140px;
    }
}
@media only screen and (max-width: 720px){
    .biglietti-form{
        margin-top: 138px;
    }
}

@media only screen and (max-width: 650px){

    .biglietti-form{
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prenota-biglietti-testo{

        width: 90%;
     
    }



}

@media only screen and (max-width: 629px){

    .testo-errore{
        margin-top: 15px;
    
    }



}

